@charset "UTF-8";
html {
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  html {
    font-size: 4.2553191489vw;
  }
}

img {
  width: 100%;
}

a {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

a:hover {
  opacity: 0.7;
}

.inner {
  width: 100%;
  max-width: calc(875px + 3.125rem);
  padding-right: 1.5625rem;
  padding-left: 1.5625rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .inner {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.only-sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .only-sp {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .only-pc {
    display: none;
  }
}

a {
  text-decoration: none;
}

body {
  font-family: "Noto Sans JP", sans-serif, sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* a 要素のリセット */
a {
  text-decoration: none;
  color: inherit;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default 
article > * + * {
  margin-top: 1em;
}
*/
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.lp1 h2 {
  border-top-color: transparent;
  border-top: none !important;
  font-family: "Noto Sans JP", sans-serif, sans-serif !important;
  background: transparent;
  padding: 0;
  border-bottom: none;
}
.lp1 h3 {
  border-bottom: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-bottom: 0;
  font-family: "Noto Sans JP", sans-serif, sans-serif !important;
}
.lp1 h3::after {
  display: none;
}

.home #main_content {
  max-width: 100%;
}
.home .l-header__inner.l-container {
  display: none;
}
.home .l-footer {
  display: none;
}
@media screen and (max-width: 767px) {
  .home .l-footer {
    display: block;
  }
}
.home #content,
.home .l-mainContent__inner,
.home .post_content {
  padding: 0;
}
.home h2 {
  border-top-color: transparent;
  border-top: none !important;
  font-family: "Noto Sans JP", sans-serif, sans-serif !important;
  background: transparent;
  padding: 0;
  border-bottom: none;
  margin: 0;
}
.home h3 {
  border-bottom: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-bottom: 0;
  font-family: "Noto Sans JP", sans-serif, sans-serif !important;
  margin: 0;
}
.home h2::before,
.home h3::before,
.home h3::after {
  display: none;
}
.home ul {
  list-style: none;
  padding: 0;
}
.home .p-fixBtnWrap {
  display: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 0;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  background: #000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .wrapper {
    display: block;
  }
}

.sp-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  width: 21.9444444444vw;
  max-width: 19.75rem;
}
@media screen and (min-width: 1441px) {
  .sp-wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .sp-wrapper {
    position: static;
    width: 100%;
    max-width: 100%;
  }
}

.pc-wrapper {
  width: 78.0555555556vw;
  background: #000;
  max-width: 70.25rem;
}
@media screen and (min-width: 1441px) {
  .pc-wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .pc-wrapper {
    width: 100%;
  }
}

.sp-wrapper {
  background: #fff;
  padding-top: 4rem;
  padding-bottom: 2.6875rem;
}
@media screen and (max-width: 767px) {
  .sp-wrapper {
    padding-top: 0;
    padding-bottom: 1.5625rem;
  }
}

.sp-wrapper__inner {
  padding-left: 2.9861111111vw;
  padding-right: 2.9861111111vw;
  text-align: center;
}
@media screen and (min-width: 1441px) {
  .sp-wrapper__inner {
    padding-left: 2.6875rem;
    padding-right: 2.6875rem;
  }
}
@media screen and (max-width: 767px) {
  .sp-wrapper__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem 0.5rem;
    padding-left: 4vw;
    padding-right: 4vw;
  }
}

.sp-contents {
  background: #333;
  padding-top: 1.39625rem;
  padding-bottom: 1.501875rem;
  padding-left: 0.4375rem;
  padding-right: 0.4375rem;
}
@media screen and (max-width: 767px) {
  .sp-contents {
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(50% - 50vw);
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.sp-contents__top {
  max-width: 13.4375rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.sp-contents__company {
  max-width: 11.633125rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.23125rem;
}

.sp-contents__text {
  font-weight: 700;
  font-size: 1.338125rem;
  letter-spacing: 0;
  color: #fff;
  margin-top: 0.834375rem;
  display: inline-block;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .sp-contents__text {
    font-size: 5.6vw;
  }
}

.sp-wrapper__shool {
  display: block;
  margin-top: 0.9375rem;
}
@media screen and (max-width: 767px) {
  .sp-wrapper__shool {
    max-width: 10rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
  }
}

.sp-wrapper__nav {
  margin-top: 1.8125rem;
}
@media screen and (max-width: 767px) {
  .sp-wrapper__nav {
    margin-top: 0rem;
    width: 50%;
  }
}

.sp-wrapper__sns {
  margin-top: 1.125rem;
  max-width: 14.375rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.sp-wrapper__copy {
  margin-top: 2.783125rem;
  font-size: 0.6875rem;
  font-family: "Lato";
}
@media screen and (max-width: 767px) {
  .sp-wrapper__copy {
    display: none;
  }
}

.sp-nav a {
  display: block;
  font-weight: 700;
  text-align: left;
}

.sp-nav__contact > a {
  font-size: 0.875rem;
  letter-spacing: 0.7px;
  color: #FD0000;
}

.sp-nav__list {
  padding-top: 1.03375rem;
  padding-bottom: 1.150625rem;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  margin-top: 0.754375rem;
}

.sp-nav__list-item > a {
  font-size: 0.7875rem;
  line-height: 1.1904761905;
  letter-spacing: 1px;
}

.sp-nav__list-item + .sp-nav__list-item {
  margin-top: 0.725rem;
}

.pc-wrapper {
  padding-top: 3.92375rem;
  padding-bottom: 12.375rem;
}
@media screen and (max-width: 767px) {
  .pc-wrapper {
    padding-top: 0;
  }
}

.pc-wrapper__inner {
  padding-left: 8.75vw;
  padding-right: 8.75vw;
}
@media screen and (min-width: 1441px) {
  .pc-wrapper__inner {
    padding-left: 7.875rem;
    padding-right: 7.875rem;
  }
}
@media screen and (max-width: 767px) {
  .pc-wrapper__inner {
    padding-left: 4vw;
    padding-right: 4vw;
  }
}

.fv {
  max-width: 62.375rem;
  width: calc(100% + 7.875rem);
  background-image: url(http://2024060509073exjwh7u.conohawing.com/mva/wp-content/uploads/2024/08/fv-bg-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: auto;
  margin-left: auto;
  -webkit-transform: translateX(-3.9375rem);
          transform: translateX(-3.9375rem);
}
@media screen and (max-width: 767px) {
  .fv {
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(50% - 50vw);
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.fv::before {
  width: 100%;
  display: block;
  content: "";
  padding-top: 49.8216432866%;
}

.fv__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 1.70125rem 1.6875rem;
  width: 100%;
  height: 100%;
}

.fv__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.fv__text {
  background: -webkit-gradient(linear, right top, left top, from(#F16F63), color-stop(50%, #FAF9F5), to(#F16F63));
  background: linear-gradient(-90deg, #F16F63 0%, #FAF9F5 50%, #F16F63 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 7.7471875rem;
}
@media screen and (max-width: 1024px) {
  .fv__text {
    font-size: 5rem;
  }
}
@media screen and (max-width: 767px) {
  .fv__text {
    font-size: 11.7333333333vw;
  }
}

.fv__icon-contents {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.6875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fv__icon {
  max-width: 4rem;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .fv__icon {
    max-width: 8.5333333333vw;
  }
}

.fv__scroll {
  position: absolute;
  max-width: 12.5rem;
  width: 100%;
  bottom: 0;
  right: -2.0625rem;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
@media screen and (max-width: 767px) {
  .fv__scroll {
    max-width: 6.25rem;
    right: 0;
  }
}

.fv__scroll-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 1.150625rem;
  width: 100%;
}

.fv__scroll-text {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-animation: rotateInfinite 10s linear infinite;
          animation: rotateInfinite 10s linear infinite;
}

@-webkit-keyframes rotateInfinite {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateInfinite {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.about {
  margin-top: 3.9375rem;
}

.about__main-description,
.about__sub-text,
.about__description {
  color: #fff;
  letter-spacing: 1.3px;
}

.about__main-description {
  font-size: 1.25rem;
}
@media screen and (max-width: 767px) {
  .about__main-description {
    font-size: 4.2666666667vw;
  }
}

.about__sub-text {
  margin-top: 2.75rem;
  font-size: 1.16875rem;
}
@media screen and (max-width: 767px) {
  .about__sub-text {
    font-size: 4.2666666667vw;
  }
}

.about__description {
  font-size: 0.8125rem;
  margin-top: 1.018125rem;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .about__description {
    font-size: 3.4666666667vw;
  }
}

.about__table {
  margin-top: 2.669375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.about__table-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .about__table-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__table-item--col-3 {
  width: 33.3333333333%;
}

.about__table-item--col-2 {
  width: 66.6666666667%;
}

.about__table-item-head,
.about__table-item-description {
  border: 1px solid #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8125rem;
  line-height: 1.4;
  font-family: "Lato";
}
@media screen and (max-width: 767px) {
  .about__table-item-head,
  .about__table-item-description {
    font-size: 3.7333333333vw;
  }
}

.about__table-item-head {
  color: #fff;
  background: #585858;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  -ms-flex-preferred-size: 6.074375rem;
      flex-basis: 6.074375rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-top: 1.338125rem;
  padding-bottom: 1.436875rem;
}
@media screen and (max-width: 767px) {
  .about__table-item-head {
    padding-top: 3.2vw;
    padding-bottom: 3.2vw;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    width: 100%;
  }
}

.about__table-item-description {
  background: #fff;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding-right: 0.80125rem;
  padding-left: 0.80125rem;
}
@media screen and (max-width: 767px) {
  .about__table-item-description {
    padding-right: 3.4186666667vw;
    padding-left: 3.4186666667vw;
    padding-top: 3.2vw;
    padding-bottom: 3.2vw;
    height: 100%;
  }
}

.about__table-item-description--small {
  font-size: 0.65rem;
}

.program {
  margin-top: 4rem;
}

h3.program__top-head {
  background: #585858;
  color: #fff;
  text-align: center;
  line-height: 1;
  padding-top: 1.5625rem;
  padding-bottom: 1.6875rem;
}
@media screen and (max-width: 767px) {
  h3.program__top-head {
    padding-top: 4.2666666667vw;
    padding-bottom: 4.2666666667vw;
    font-size: 4.2666666667vw;
  }
}

.programItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .programItem {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border: 1px solid #fff;
  }
}

.programItem__head,
.programItem__title,
.programItem__description {
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

.programItem__head {
  -ms-flex-preferred-size: 5.625rem;
      flex-basis: 5.625rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 1rem;
}
@media screen and (max-width: 767px) {
  .programItem__head {
    font-size: 4.2666666667vw;
    -ms-flex-preferred-size: 24vw;
        flex-basis: 24vw;
  }
}

.programItem__title {
  -ms-flex-preferred-size: 14.4375rem;
      flex-basis: 14.4375rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 0.875rem;
}
@media screen and (max-width: 767px) {
  .programItem__title {
    font-size: 3.7333333333vw;
    -ms-flex-preferred-size: calc(100% - 24vw);
        flex-basis: calc(100% - 24vw);
  }
}

.programItem__description {
  width: 100%;
  padding: 1.3125rem 1rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1rem;
}
@media screen and (max-width: 767px) {
  .programItem__description {
    font-size: 4.2666666667vw;
  }
}

li.programItem__list-item {
  padding-left: 0.9375rem;
  position: relative;
  margin: 0;
}

.programItem__list-item::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 0.3125rem;
  height: 0.3125rem;
  background: #fff;
  border-radius: 50%;
  top: 0.59375rem;
  left: 0.3125rem;
}

.program__bottom-contents {
  margin-top: 5.25rem;
}

.program__bottom-item + .program__bottom-item {
  margin-top: 1.25rem;
}

.programContent__head,
.programContent__body {
  border: 1px solid #333;
  letter-spacing: 0.1em;
}

h3.programContent__head {
  background: #585858;
  color: #fff;
  text-align: center;
  line-height: 1;
  padding-top: 0.60625rem;
  padding-bottom: 0.705625rem;
  font-size: 0.8125rem;
}
@media screen and (max-width: 767px) {
  h3.programContent__head {
    font-size: 3.4666666667vw;
  }
}

.programContent__body {
  background: #fff;
  padding: 1.6875rem 0.5425rem 1.734375rem;
  font-size: 0.875rem;
}

.programContent__body--padding-0 {
  padding: 0;
}

.programContent__list-item {
  padding-left: 0.875rem;
  position: relative;
}

.programContent__list-item::before {
  position: absolute;
  display: inline-block;
  content: "";
  background: #333;
}

.programContent__list-item--dot::before {
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 50%;
  left: 0.28125rem;
  top: 0.5rem;
}

.programContent__list-item--square::before {
  width: 0.6875rem;
  height: 0.6875rem;
  left: 0.09375rem;
  top: 0.3125rem;
}

.programContent__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.programContent__price-head,
.programContent__price-description {
  padding: 2.828125rem 1.0625rem;
  text-align: center;
  font-family: "Lato";
  border: 1px solid #333;
  letter-spacing: 0;
}
@media screen and (max-width: 767px) {
  .programContent__price-head,
  .programContent__price-description {
    padding: 4.2666666667vw 4.2666666667vw;
  }
}

.programContent__price-head {
  width: 100%;
  font-size: 0.875rem;
}
@media screen and (max-width: 767px) {
  .programContent__price-head {
    font-size: 3.7333333333vw;
  }
}

.programContent__price-description {
  font-size: 1.125rem;
  text-align: right;
  width: 14.625rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (max-width: 767px) {
  .programContent__price-description {
    font-size: 4.8vw;
  }
}

.programContent__price-description--small {
  font-size: 0.8125rem;
}
@media screen and (max-width: 767px) {
  .programContent__price-description--small {
    font-size: 3.4666666667vw;
  }
}

.teacher {
  margin-top: 4rem;
  color: #fff;
}

.teacher__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}
@media screen and (max-width: 767px) {
  .teacher__head {
    gap: 4.2666666667vw;
  }
}

.teacher__name {
  width: calc(100% - 6.25rem);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 767px) {
  .teacher__name {
    font-size: 5.3333333333vw;
  }
}

.teacher__image {
  width: 6.25rem;
}
@media screen and (max-width: 767px) {
  .teacher__image {
    width: 26.6666666667vw;
  }
}

.teacher__description {
  margin-top: 1.625rem;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 767px) {
  .teacher__description {
    font-size: 4.2666666667vw;
  }
}

.achievements {
  margin-top: 4rem;
}

.achievements__title {
  margin-bottom: 5.171875rem !important;
}

.achievements__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.609375rem 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .achievements__contents {
    gap: 5.3333333333vw;
  }
}

.achievements__content {
  width: calc((100% - 1.5rem) / 2);
}
@media screen and (max-width: 767px) {
  .achievements__content {
    width: 100%;
  }
}

.totop {
  position: fixed;
  bottom: 4.6875rem;
  right: 1.5rem;
  width: 4.375rem;
  height: 4.375rem;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .totop {
    width: 13.3333333333vw;
    height: 13.3333333333vw;
    bottom: 20vw;
    right: 6.4vw;
  }
}

.contact {
  margin-top: 11.203125rem;
}

.contact__description {
  text-align: center;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.7142857143;
}
@media screen and (max-width: 767px) {
  .contact__description {
    font-size: 3.4666666667vw;
  }
}

.contact__form {
  margin-top: 2.125rem;
}

.contact__form-sub-text {
  text-align: right;
  font-size: 0.8125rem;
  color: #fff;
}

.wpcf7 {
  padding: 0;
  background: transparent;
  margin: 0 !important;
  border: none;
  font-size: 1rem;
}

.form-item:not(:first-child) {
  margin-top: 1rem;
}

.form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .form-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form-item--checkArea {
  text-align: center;
  display: block;
}

.form-item__check-wrapper {
  display: inline-block;
  -moz-text-align-last: left;
       text-align-last: left;
}

.form-item--check {
  display: block;
}

.form-item__label {
  -ms-flex-preferred-size: 10.9375rem;
      flex-basis: 10.9375rem;
  text-align: left;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 0.9375rem;
  color: #fff;
  line-height: 4.4375rem;
}
@media screen and (max-width: 767px) {
  .form-item__label {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    line-height: 2;
  }
}

.form-item__label--category {
  color: #FD0000;
}

.wpcf7-form-control-wrap {
  width: 100%;
}

.form-item__input {
  background: #fff;
  padding: 1.125rem 1.5625rem;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  color: #333;
  width: 100%;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .form-item__input {
    font-size: 4.8vw;
  }
}

.form-item__input--textarea {
  line-height: 1.3;
}

.form-item input:-ms-input-placeholder {
  color: #aaa;
}

.form-item input::-ms-input-placeholder {
  color: #aaa;
}

.form-item input::placeholder,
.form-item input:-ms-input-placeholder {
  color: #aaa;
}

.wpcf7 input[type=radio],
.wpcf7 input[type=checkbox] {
  display: none;
}

.wpcf7-list-item-label {
  padding-left: 1.5rem;
  position: relative;
  color: #fff;
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .wpcf7-list-item-label {
    font-size: 3.7333333333vw;
  }
}

.wpcf7-list-item-label::before {
  position: absolute;
  display: inline-block;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 0.125rem;
  left: 0;
}

.form-item__check input:checked + .wpcf7-list-item-label::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 0.75rem;
  height: 1.125rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 43%;
  left: 0.25rem;
  -webkit-transform: translateY(-87%) rotate(54deg) skewX(25deg);
          transform: translateY(-87%) rotate(54deg) skewX(25deg);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.form-item.form-item--submit {
  display: block;
  margin-top: 1.5rem;
  position: relative;
}

.form-item--submit .wpcf7-submit {
  width: 100%;
  border: 2px solid #fff;
  color: #fff;
  padding: 1.5rem 1rem;
  font-size: 0.9375rem;
}

.form-item--submit .wpcf7-spinner {
  margin: 0;
  position: absolute;
  bottom: 100%;
  left: 0;
}

.wpcf7-response-output {
  color: #fff;
}

.color-accent {
  color: #FD0000;
}

.font-weight-bold {
  font-weight: 700;
}

.section-title {
  color: #FAF9F5;
  padding-bottom: 0.25rem;
  border-bottom: 0.1875rem solid #FAF9F5;
  margin-bottom: 1.75rem;
}

.section-title__sub {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1.6px;
}
@media screen and (max-width: 767px) {
  .section-title__sub {
    font-size: 4.2666666667vw;
  }
}

h2.section-title__main {
  font-size: 4rem;
  line-height: 1;
  font-family: "Inter";
  margin-top: 0.4375rem;
  text-transform: uppercase;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  h2.section-title__main {
    font-size: 10.6666666667vw;
  }
}