@use "../global" as *;

.about {
  padding-top: rem(63);
  padding-bottom: rem(95);
  background: $color-theme;
  font-feature-settings: "palt";
  @include mq(lg) {
    padding-top: rem(29);
    padding-bottom: rem(30);
  }
}
.about__inner {
  width: 100%;
  max-width: calc(1068.9596px + ($padding-pc * 2));
  padding-right: $padding-pc;
  padding-left: $padding-pc;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  @include mq(lg) {
    padding-right: rem(22);
    padding-left: rem(21);
  }
}
.about-title__en {
  color: $color-white;
}
.about-title__main {
  max-width:rem(412);
  width:100%;
  margin-left: auto;
  margin-right: auto;
  @include mq(lg) {
    max-width: rem(327.2939);
  }
}
.about__body {
  margin-top: rem(68);
  @include mq(lg) {
    margin-top: rem(33);
  }
}
.about__description {
  color: $color-white;
  font-size: rem(24);
  line-height: calc(44 / 24);
  text-align: justify;
  font-feature-settings: "palt";
  padding-left: rem(4);
  padding-right: rem(0);
  @include mq(lg) {
    font-size: rem(18);
    padding: 0;
    line-height: 1.55;
    letter-spacing: 0.012em;
  }
}
.about__contents {
  margin-top: rem(54);
  border-radius: rem(22.616);
  background: $color-white;
  box-shadow: rem(2) rem(2) rem(5) $color-shadow;
  padding: rem(32.5) rem(29) rem(34);
  display: flex;
  justify-content: center;
  gap: rem(88.1989);
  @include mq(lg) {
    flex-direction: column;
    padding: rem(24.2891) rem(19.4779);
    padding-right: rem(20);
    gap: rem(83);
    margin-top: rem(22);
    padding-bottom: rem(26);
    border-radius: rem(12);
  }
}
.about__content-wrapper {
  position: relative;
}
.about__content-wrapper--last {
  @include mq(lg) {
    margin-top: rem(9);
  }
}
.about__content {
  max-width:rem(318);
  width:100%;
  box-shadow: 0 0 rem(4) $color-shadow;
  border-radius: rem(10.813);
  overflow: hidden;
  height: 100%;
  @include mq(lg) {
    max-width: 100%;
    height: auto;
  }
}
.about__content--company {
  max-width:rem(200.545);
  border-radius: 50%;
  box-shadow:none;
  align-self: center;
  background: #84cdde;
  @include mq(lg) {
    max-width:rem(187);
  }
}
.about__head {
  background: #364061;
  color: $color-white;
  text-align: center;
  font-weight: $bold;
  font-size: rem(29);
  line-height: 1;
  padding: rem(28) rem(4) rem(25);
  @include mq(lg) {
    font-size: rem(23.87);
    padding: rem(18) rem(4);
  }
}
.about__content-body {
  padding: rem(26) rem(22) rem(17);
  @include mq(lg) {
    padding-top: rem(17);
    padding-bottom: rem(17);
  }
}
.about__item + .about__item {
  margin-top: rem(18);
  @include mq(lg) {
    margin-top: rem(6);
  }
}
.aboutItem {
  background: #f2f2f2;
  border-radius: rem(6.179);
  display: flex;
  align-items: center;
  width: 100%;
  padding: rem(25.5661) rem(16) rem(21) 0;
  @include mq(lg) {
    padding-top: rem(11);
    padding-left: rem(4);
    padding-bottom: rem(10);
  }
}
.aboutItem__image {
  flex-basis: calc(122 / 253.061 * 100%);
  padding-bottom: rem(3);
  @include mq(lg) {
    flex-basis: rem(101);
    padding-bottom: rem(0);
  }
}
.aboutItem__image img {
  margin-right:auto;
  margin-left:auto;
}
.aboutItem__image--first {
  padding-bottom: rem(3);
  @include mq(lg) {
    padding-bottom: rem(0);
  }
}
.aboutItem__image--first img{
  max-width: calc(62.0476 / 121.9864 * 100%);
  @include mq(lg) {
    max-width:57.864359%;
  }
}
.aboutItem__image--second {
  padding-top: rem(6);
  @include mq(md) {
    padding-bottom: rem(0);
  }
}
.aboutItem__image--second img {
  max-width: calc(60 / 122 * 100%);
  @include mq(lg) {
    max-width:61.907236%;
  }
}
.aboutItem__image--tird {
  padding-bottom: rem(7);
  @include mq(md) {
    padding-bottom: 0;
  }
}
.aboutItem__image--tird img {
  max-width: calc(66.97936 / 121.9864 * 100%); 
  @include mq(lg) {
    max-width:57.864359%;
  }
}
.aboutItem__head {
  font-weight: $bold;
  font-size: rem(26);
  line-height: 1;
  @include mq(lg) {
    font-size: rem(22.83);
  }
}
.aboutItem__description {
  font-size: rem(18);
  line-height: calc(25 /18);
  margin-top: rem(9);
  @include mq(lg) {
    font-size: rem(16.6);
    margin-top: rem(4);
  }
}
.about__arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.about__arrows--cliant {
  left: calc(100% - rem(11.5772));
  @include mq(lg) {
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
    top: calc(100% - rem(32));
    width: rem(80);
  }
}
.about__arrows--moniter {
  right: calc(100% - rem(11.5772));
  @include mq(lg) {
    right: auto;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
    top: auto;
    bottom: calc(100% - rem(20));
  }
}
.about__arrow {
  width:rem(99.1059);
  position: relative;
}
.about__arrow + .about__arrow {
  margin-top: rem(42);
  @include mq(lg) {
    margin-top: rem(37);
  }
}
.about__arrow-text {
  position: absolute;
  left: calc(50% - rem(10));
  transform: translateX(-50%);
  font-size: rem(21);
  line-height: 1;
  white-space: nowrap;
  @include mq(lg) {
    transform: rotate(-90deg);
    font-size: rem(19.52);
    left: calc(50% - rem(21) );
  }
}
.about__arrows--cliant .about__arrow-text {
  left: calc(50% + rem(3));
}
.about__arrow-text--top {
  bottom: calc(100% + rem(14));
  @include mq(lg) {
    bottom: calc(100% + rem(15));
    
  }
}
.about__arrow-text--bottom {
  top: calc(100% + rem(12));
  @include mq(lg) {
    top: calc(100% + rem(15));
    
  }
}
.about__content--company {
  position: relative;
}
.about__content--company::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 100%;
}
.about__content-logo {
  width: calc(107.9968 / 200.545 * 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  @include mq(lg) {
    width: calc(100.3807 / 186.4023 * 100%);
  }
}
.moniterTop {
  background: #f2f2f2;
  border-radius: rem(6.179);
  width: 100%;
  padding: rem(30) rem(12) rem(33) rem(12);
  @include mq(md) {
    padding: rem(27) rem(8) rem(28) rem(12);
  }
}
.moniterTop__head {
  text-align: center;
}
.moniterTop__head-text {
  display: inline-block;
  border: 1px solid $color-black;
  padding: rem(5) rem(11) rem(2) ;
  font-size: rem(22.61);
  line-height: 1;
  font-weight: $bold;
  border-bottom-width: rem(2);
  margin-right: rem(3);
  @include mq(lg) {
    font-size: rem(21.02);
    padding: rem(3.5) rem(10);
    margin-right: rem(0);
  }
}
.moniterTop__flex {
  display: flex;
  gap: rem(0);
  align-items: center;
  margin-top: rem(7);
  @include mq(lg) {
    justify-content: center;
    margin-top: rem(10);
    gap: rem(4);
    justify-content: flex-start;
    letter-spacing: -0.05em;
  }
}
.moniterTop__icon {
  max-width:rem(35.0695);
  width:100%;
  @include mq(lg) {
    max-width: rem(32.5963);
  }
}
.moniterTop__text {
  font-weight: $bold;
  font-size: rem(35.99);
  line-height: 1;
  color: $color-theme;
  letter-spacing: -0.03em;
  @include mq(lg) {
    font-size: rem(33.45);
    letter-spacing: -0.1em;
  }
}
.moniterTop__text--large {
  font-size: rem(51.98);
  @include mq(lg) {
    font-size: rem(48.32);
  }
}
.about__moniter-arrow {
  max-width:rem(82);
  width:100%;
  margin-right:auto;
  margin-left:auto;
  margin-top: rem(22);
  @include mq(lg) {
    max-width: rem(77.1757);
    margin-top: rem(9);
  }
}
.about__moniter-bottom {
  margin-top: rem(14);
  @include mq(lg) {
    margin-top: rem(7);
  }
}
.aboutBottom__head {
  font-size: rem(26);
  line-height: 1;
  font-weight: $bold;
  padding-left: rem(7);
  @include mq(lg) {
    font-size: rem(22.83);
    padding-left: rem(0);
  }
}
.aboutBottom__content {
  display: flex;
  gap:rem(11) rem(8);
  flex-wrap: wrap;
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(16);
  }
}
.aboutBottom__item {
  width: calc((100% - (rem(8) * 2)) / 3);
  background: #f2f2f2;
  border-radius: rem(5.51);
  padding: rem(12) rem(4);
  position: relative;
}
.aboutBottom__item::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 51%;
  @include mq(lg) {
    padding-top: 53.236493%;
  }
}
.aboutBottom__item-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: rem(18);
  font-weight: $bold;
  line-height: calc(22 / 18);
  width: 100%;
  text-align: center;
  @include mq(lg) {
    font-size: rem(16.73);
  }
}
.aboutBottom__bottom-text {
  text-align: right;
  margin-top: rem(13);
  font-size: rem(15);
  @include mq(lg) {
    font-size: rem(16.6);
    line-height: 1;
    margin-top: rem(2);
  }
}