@use "../global" as *;

.achievements {
  margin-top: rem(64);
}
.achievements__title {
  margin-bottom: rem(82.75) !important;
}
.achievements__contents {
  display: flex;
  gap: rem(25.75) rem(24);
  align-items: center;
  flex-wrap: wrap;
}
.achievements__content {
  width: calc((100% - rem(24)) / 2);
}