@use "../global" as *;

.contact {
  margin-top: rem(179.25);
}
.contact__description {
  text-align: center;
  color: $color-white;
  font-size: rem(14);
  font-weight: $medium;
  line-height: calc(24 / 14);
  @include mq(md) {
    font-size: vw(375,13);
  }
}
.contact__form {
  margin-top: rem(34);
}
.contact__form-sub-text {
  text-align: right;
  font-size: rem(13);
  color: $color-white;
}
// form style

.wpcf7 {
  padding: 0;
  background: transparent;
  margin: 0 !important;
  border: none;
  font-size: rem(16);
}
.form-item:not(:first-child) {
  margin-top: rem(16);
}
.form-item {
  display: flex;
  @include mq(md) {
    flex-direction: column;
  }
}
.form-item--checkArea {
  text-align: center;
  display: block;
}
.form-item__check-wrapper {
  display: inline-block;
  text-align-last: left;
}
.form-item--check {
  display: block;
}
.form-item__label {
  flex-basis: rem(175);
  text-align: left;
  flex-shrink: 0;
  font-size: rem(15);
  color: $color-white;
  line-height: rem(71);
  @include mq(md) {
    flex-basis: auto;
    line-height: 2;

  }
}
.form-item__label--category {
  color: $color-accent;
}
.wpcf7-form-control-wrap {
  width: 100%;
}
.form-item__input{
  background: $color-white;
  padding: rem(18) rem(25);
  font-size: rem(24);
  letter-spacing: 0.1em;
  color: $color-black;
  width: 100%;
  line-height: 1;
  @include mq(md) {
    font-size: vw(375,18);
  }
}
.form-item__input--textarea {
  line-height: 1.3;
}
.form-item input::placeholder,
.form-item input:-ms-input-placeholder {
  color: #aaa;
}

.wpcf7 input[type=radio],
.wpcf7 input[type=checkbox] {
  display: none;
}
.wpcf7-list-item-label {
  padding-left: rem(24);
  position: relative;
  color: $color-white;
  display: inline-block;
  @include mq(md) {
    font-size: vw(375,14);
  }
}
.wpcf7-list-item-label::before {
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  width: rem(16);
  height: rem(16);
  background: transparent;
  border: 1px solid $color-white;
  border-radius: rem(2);
  left: 0;
}
.form-item__check input:checked + .wpcf7-list-item-label::after {
  content:"";
  position: absolute;
  display: inline-block;
  width: rem(12);
  height: rem(18);
  box-sizing: border-box;
  top: 43%;
  left: rem(4);
  transform: translateY(-87%) rotate(54deg) skewX(25deg);;
  border-right: 2px solid $color-white;
  border-bottom: 2px solid $color-white;
}
.form-item.form-item--submit {
  display: block;
  margin-top: rem(24);
  position: relative;
}
.form-item--submit .wpcf7-submit {
  width: 100%;
  border: 2px solid $color-white  ;
  color: $color-white;
  padding: rem(24) rem(16);
  font-size: rem(15);
}
.form-item--submit .wpcf7-spinner {
  margin: 0;
  position: absolute;
  bottom: 100%;
  left: 0;
}
.wpcf7-response-output {
  color: $color-white;
}