@use "../global" as *;

.feature {
  background: $color-white;
  padding: rem(38) rem(0) rem(78);
  background: #e3f4f7;
  @include mq(md) {
    padding-top: rem(34);
    padding-bottom: rem(45);
  }
}
.feature__inner {
  width: 100%;
  max-width: calc(848px + ($padding-pc * 2));
  padding-right: $padding-pc;
  padding-left: $padding-pc;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  @include mq(md) {
    padding-right: rem(8);
    padding-left: rem(20);
  }
}
.feature-title__en {
  color: $color-theme;
}
.feature-title .feature-title__main {
  max-width:rem(344);
  margin-top: rem(11);
  width:100%;
  margin-left: auto;
  margin-right: auto;
  @include mq(md) {
    max-width: rem(299);
    margin-top: rem(7) ;
  }
}
.feature__body {
  margin-top: rem(55);
  @include mq(md) {
    margin-top: rem(42);
  }
}
.feature__content {
  display: flex;
  justify-content: flex-start;
  gap:rem(22) rem(5);
  flex-wrap: wrap;
  @include mq(md) {
    gap:rem(10.5) rem(16);
    
  }
}
.feature__item {
  width: calc((100% - (rem(24) * 1)) / 2);
  display: flex;
  gap: rem(16);
  align-items: center;
  @include mq(md) {
    width: calc((100% - (rem(24) * 0)) / 1);
    gap: rem(13);
  }
}
.feature__item:nth-child(2n) {
  flex-grow: 1;
}
.feature__image {
  max-width:rem(84.352);
  width:100%;
  box-shadow: rem(2) rem(2) rem(3) $color-shadow;
  border-radius: rem(18);
  @include mq(md) {
    max-width: rem(56);
    border-radius: rem(12);
  }
}
.feature__description {
  font-size: rem(23);
  font-weight: $bold;
  font-feature-settings: "palt";
  @include mq(md) {
    font-size: rem(20);
  }
}