@use "../global" as *;

.footer {
  background: $color-theme;
  padding: rem(40) rem(0) rem(125);
  width: 100%;
  @include mq(md) {
    padding: rem(21) rem(0) rem(90);
  }
}
.footer__inner {
  width: 100%;
  max-width: calc(724.493px + ($padding-pc * 2));
  padding-right: $padding-pc;
  padding-left: $padding-pc;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  @include mq(md) {
    padding-right: $padding-sp;
    padding-left: $padding-sp;
  }
}
.footer__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mq(md) {
    justify-content: center;
  }
}
.footer__copy {
  font-size: rem(18);
  line-height: 1;
  color: $color-white;
  @include mq(md) {
    font-size: rem(15.25);
  }
}
.footerBtn {
  background: $color-white;
  border-radius: rem(24.804);
  display: inline-block;
  padding: rem(7) calc(rem(1283.7712) - rem(1275.7205)) rem(6);
  width: rem(213.7792);
}
.footerBtn__content {
  display: flex;
  align-items: center;
  gap: rem(19);
}
.footerBtn__icon {
  max-width: rem(36.3657);
  width: 100%;
}
.footerBtn__text {
  font-size: rem(19.18);
  font-weight: $bold;
  line-height: calc(33.57 / 19.18);
  color: $color-contact;
  font-feature-settings: "palt";
}