@use "../global" as *;

header {
  transition: .6s;
}
.header {
  background: rgba($color: $color-white, $alpha: 0.8);
  padding: rem(19.5) rem(0) rem(19);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  @include mq(md) {
    padding: rem(9) rem(0);
  }
}
.header__inner {
  width: 100%;
  max-width: calc(1295.8705px + ($padding-pc * 2));
  padding-right: $padding-pc;
  padding-left: $padding-pc;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  @include mq(md) {
    padding-right: $padding-sp;
    padding-left: $padding-sp;
  }
}
.header__contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mq(md) {
    justify-content: center;
  }
}
.header__icon {
  max-width:rem(126.5);
  width: 100%;
  @include mq(md) {
    max-width:rem(123.9743);
  }
}
.header__btnArea {
  max-width:rem(213.7792);
  width: 100%;
  @include mq(md) {
    display: none;
  }
}
.headerBtn {
  background: $color-contact;
  border-radius: rem(24.804);
  display: inline-block;
  padding: rem(7) calc(rem(1283.7712) - rem(1275.7205)) rem(6);
  width: rem(213.7792);
}
.headerBtn__content {
  display: flex;
  align-items: center;
  gap: rem(19);
}
.headerBtn__icon {
  max-width: rem(36.3657);
  width: 100%;
}
.headerBtn__text {
  font-size: rem(19.18);
  font-weight: $bold;
  line-height: calc(33.57 / 19.18);
  color: $color-white;
  font-feature-settings: "palt";
}