@use "../global" as *;

.sp-wrapper {
  background: $color-white;
  padding-top: rem(64);
  padding-bottom: rem(43);
  @include mq(md) {
    padding-top: 0;
  }
}
.sp-wrapper__inner {
  padding-left: calc(43 * 100vw / 1440);
  padding-right: calc(43 * 100vw / 1440);
  text-align: center;
  @media screen and (min-width:1441px) {
    padding-left: rem(43);
    padding-right: rem(43);
  }
  @include mq(md) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: rem(16) rem(8);  
  }
}
.sp-contents {
  background: $color-black;
  padding-top: rem(22.34);
  padding-bottom: rem(24.03);
  padding-left: rem(7);
  padding-right: rem(7);
  @include mq(md) {
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(50% - 50vw);
    flex-shrink: 0;
  }
}
.sp-contents__top {
  max-width:rem(215);
  width:100%;
  margin-right:auto;
  margin-left:auto;
}
.sp-contents__company {
  max-width:rem(186.13);
  width:100%;
  margin-right:auto;
  margin-left:auto;
  margin-top: rem(19.7);
}
.sp-contents__text {
  font-weight: $bold;
  font-size: rem(21.41);
  letter-spacing: 0;
  color: $color-white;
  margin-top: rem(13.35);
  display: inline-block;
  text-align: left;
}
.sp-wrapper__shool {
  display: block;
  margin-top: rem(15);
  @include mq(md) {
    max-width:rem(160);
    width:100%;
    margin-right:auto;
    margin-left:auto;
    margin-top: 0;
  }
}
.sp-wrapper__nav {
  margin-top: rem(29);
  @include mq(md) {
    margin-top: rem(0);
    width: 50%;
  }
}


.sp-wrapper__sns {
  margin-top: rem(18);
  max-width:rem(230);
  width:100%;
  margin-right:auto;
  margin-left:auto;
}

.sp-wrapper__copy {
  margin-top: rem(44.53);
  font-size: rem(11);
  font-family: $second-font-family;
  @include mq(md) {
    display: none;
  }
}

// sp-nav
.sp-nav a{
  display: block;
  font-weight: $bold;
  text-align: left;
}

.sp-nav__contact > a {
  font-size: rem(14);
  letter-spacing: 0.7px;
  color: $color-accent;
}

.sp-nav__list {
  padding-top: rem(16.54);
  padding-bottom: rem(18.41);
  border-top: 1px solid $color-black;
  border-bottom: 1px solid $color-black;
  margin-top: rem(12.07);
}

.sp-nav__list-item > a {
  font-size: rem(12.6);
  line-height: calc(15 / 12.6);
  letter-spacing: 1px;
}
.sp-nav__list-item + .sp-nav__list-item {
  margin-top: rem(11.6);
}