@use "sass:math";

//ブレイクポイント
$breakpoints: (
  md: 767,
  lg: 959,
);
//メディアクエリー
$mediaquerys: (
  md: "screen and (max-width: #{map-get($breakpoints,'md')}px)",
  lg: "screen and (max-width: #{map-get($breakpoints,'lg')}px)",
);
// @include mq(){}で書くとブレークポイントが反映される（初期値はmd）
@mixin mq($mediaquery: md) {
  @media #{map-get($mediaquerys, $mediaquery)} {
    @content;
  }
}
// remへの計算式（16pxを基準としている。10pxを基準とする場合は16を10に変更する）
@function rem($pixels) {
    @return math.div($pixels, 16) * 1rem;
}
@function strip-unit($number) {
    @if type-of($number) == "number" and not unitless($number) {
        @return math.div($number, $number * 0 + 1);
    }
    @return $number;
}

@function vw($window_width, $font_size) {
    @return math.div($font_size, $window_width) * 100vw;
}

$base-font-family:  "hiragino-kaku-gothic-pron", sans-serif;
$second-font-family: 'FP-ヒラギノ角ゴ StdN W8', sans-serif ;
$bold : 600;
$normal : 300;

$color-black: #000;
$color-white: #fff;
$color-theme: #41b5d0;
$color-blue: #2983e2;
$color-gray: #999999;
$color-yellow: #fcee21;
$color-light-blue: #9bd2e3;
$color-contact: #64c2db;
$color-download:  linear-gradient(90deg, #39b54a 0%, #4eddaa 100%);
$color-account: linear-gradient(90deg, #2983e2 0%, #3fb0ed 100%);
$color-shadow: rgba(0,0,0,.3);

$inner: 1000px;

$padding-pc: rem(25);
$padding-sp: rem(21);
