@use "sass:math";

//ブレイクポイント
$breakpoints: (
  md: 767,
  lg: 959,
);
//メディアクエリー
$mediaquerys: (
  md: "screen and (max-width: #{map-get($breakpoints,'md')}px)",
  lg: "screen and (max-width: #{map-get($breakpoints,'lg')}px)",
);
// @include mq(){}で書くとブレークポイントが反映される（初期値はmd）
@mixin mq($mediaquery: md) {
  @media #{map-get($mediaquerys, $mediaquery)} {
    @content;
  }
}
// remへの計算式（16pxを基準としている。10pxを基準とする場合は16を10に変更する）
@function rem($pixels) {
    @return math.div($pixels, 16) * 1rem;
}
@function strip-unit($number) {
    @if type-of($number) == "number" and not unitless($number) {
        @return math.div($number, $number * 0 + 1);
    }
    @return $number;
}

@function vw($window_width, $font_size) {
    @return math.div($font_size, $window_width) * 100vw;
}

$base-font-family:  "Noto Sans JP", sans-serif, sans-serif;
$second-font-family: 'Lato';
$eng-font-family: 'Inter' ;
$bold : 700;
$medium : 500;
$normal : 400;

$color-black: #333;
$color-white: #fff;
$color-theme: #000;
$color-accent: #FD0000;
$color-fv-title: linear-gradient(-90deg, #F16F63 0%, #FAF9F5 0%, #F16F63 100%);

$inner: 875px;

$padding-pc: rem(25);
$padding-sp: rem(15);
